.cover {
  width: 100%;
  height: 100%;
  background-color: #F2EFE9;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover img {
  width: 60px;
}
.main {
  font-family: sauvage;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.info {
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 5px;
}
.subtext {
  font-family: montserrat;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 100;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 18px;
}
@media (max-width: 720px) {
  .main {
    max-width: 300px;
    margin: auto;
  }
}
